<div id="specialty-description" class="mb-4">
  <p class="mb-0">
    <strong>Descripción: </strong>
    <span [innerHTML]="descripcion"></span>
  </p>
</div>

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
  <div class="col">

    <app-medico-card
    nombre="Dr. Juan Pérez"
    especialidad="Terapia neural • Acupuntura"
    frase="Tu bienestar es mi prioridad, sanamos juntos."
    imagen="doctor-logo.png">
    </app-medico-card>

  </div>

  <div class="col">

    <app-medico-card
    nombre="Dra. Ana Gómez"
    especialidad="Quiropraxia • Rehabilitación"
    frase="Alineamos tu cuerpo para una vida sin dolor."
    imagen="doctor-logo.png">
    </app-medico-card>

  </div>

  <div class="col">

    <app-medico-card
    nombre="Dr. Carlos Ramírez"
    especialidad="Fisioterapia • Deporte"
    frase="Movimiento es salud, te ayudo a recuperarlo."
    imagen="doctor-logo.png">
    </app-medico-card>

  </div>
</div>