<div class="bg-light p-3 rounded shadow-sm">

<h3 class="fw-bold">Especialidades</h3>

<ul class="list-unstyled">

<li class="mb-2">
<a href="#" (click)="seleccionar('neural'); $event.preventDefault()">
Terapia neural
</a>
</li>

<li class="mb-2">
<a href="#" (click)="seleccionar('quiropraxia'); $event.preventDefault()">
Quiropraxia
</a>
</li>

<li class="mb-2">
<a href="#" (click)="seleccionar('fisioterapia'); $event.preventDefault()">
Fisioterapia
</a>
</li>

<li class="mb-2">
<a href="#" (click)="seleccionar('nutricion'); $event.preventDefault()">
Nutrición y Dietética Terapéutica
</a>
</li>

<li class="mb-2">
<a href="#" (click)="seleccionar('otras'); $event.preventDefault()">
Otras especialidades
</a>
</li>

</ul>

</div>